---
import BaseHead from "./BaseHead.astro";
import NavBar from "./NavBar.astro";
import Icon from "../Icon.astro";
const { navData, rightMenu } = Astro.props;
---
<script type="module">
  const bodyElement = document.querySelector('body');
  const menuButton = document.querySelector('#menuButton')
  const navHeader = document.querySelector('#odysseyNavHeader');
  const menuButtonIconHam = document.querySelector('#menuButtonIconHam');
  const menuButtonIconClose = document.querySelector('#menuButtonIconClose');
  let scrollPosition = 0;

  menuButton.addEventListener('click', toggleMenu)

  function toggleMenu() {
    menuButtonIconHam.toggleAttribute('hidden');
    menuButtonIconClose.toggleAttribute('hidden');
    
    if (navHeader.hasAttribute('mobile-menu-open', true)) {
      menuButton.title = "Open Main Menu"
      // unlock scroll position
      bodyElement.style.removeProperty('overflow');
      bodyElement.style.removeProperty('position');
      bodyElement.style.removeProperty('top');
      bodyElement.style.removeProperty('width');
      window.scrollTo(0, scrollPosition);
    } else {
      menuButton.title = "Close Main Menu"
      // lock scroll position
      scrollPosition = window.pageYOffset;
      bodyElement.style.overflow = 'hidden';
      bodyElement.style.position = 'fixed';
      bodyElement.style.top = `-${scrollPosition}px`;
      bodyElement.style.width = '100%';
    }
    
    navHeader.toggleAttribute('mobile-menu-open');
  }
</script>

<BaseHead/>
<header id="NavHeader" class={`${rightMenu ? "header--right" : ``.trim()}`}>
  <div class="header-logo-menu__container">
  <button id="menuButton" title="Open Main Menu">
    <span id="menuButtonIconHam">
      <!-- <Icon name="ic:baseline-menu" width="24px" height="24px" /> -->
    </span>
    <span id="menuButtonIconClose" hidden>
      <!-- <Icon name="ic:baseline-close" width="24px" height="24px" /> -->
    </span>
  </button>
  <a class="header-logo__link" href="/">
    <slot name="logo">
    </slot>
  </a>
  </div>
  <div class="header-nav__container">
    <NavBar/>
  </div>
  <div class="header-action-item__container">
    <slot name="action-item">
    </slot>
  </div>
</header>

