---
import SkipLink from "../components/core/SkipLink.astro";
import BaseHead from '../components/core/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/core/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
